In [7]:
import pandas as pd
import random

In [14]:
filename = "review.csv"
n = sum(1 for line in open(filename)) - 1 #number of records in file (excludes header)
s = 1000 #desired sample size
skip = sorted(random.sample(range(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
df = pd.read_csv(filename, skiprows=skip)
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,19046,XhUec_6-kgPy1_ZYUrzvPQ,2,2015-08-20 02:26:11,1,EE_LzqX4RFB2XKWlsnNcxA,5,I love this place. They have the best steaks i...,1,uX5uLU-2JIV6Sq0Lqvoirg
1,56107,UaoOIiwPF_rp2BWYD-HkPQ,0,2017-02-20 18:33:35,0,TaeiRPhAze-7GY5bF8KyvQ,5,1st time here and it met my expectations of a ...,0,dra8Ue1hlbNlQHdKDXiI1w
2,58853,Q9vcbIn-DGht360D3F78Kg,0,2013-08-18 04:06:54,0,Pu8fw-wQ8HmV4oJySvP8Jg,4,Knowledgeable staff and a comfortable atmosphe...,0,S25M3JmhgDs8mF-WBchT0w
3,73618,OVvT9pmFP8MWQP1iX8mSFA,0,2017-08-29 23:01:57,0,-evSRkOsjXRuDalr3R-q-Q,3,This is in response to my last review on this ...,0,BVIgaaMBLKEUCSmASwuYjQ
4,82797,XwV2-lISDp_5Acy72bA8Qg,1,2010-03-19 03:02:47,0,DEgdwE2ALKYAxu9vM-1Umw,5,I have been staying here for 2 months on busin...,2,yaWnpONXlvdXbi36aKcznw

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,3,"15655 W Roosevelt St, Ste 237",NaN,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC